<div class="container content" role="main">
  
  <div class="page-header">
    <div class="container">
      <h1>Ruteo Simple</h1>

      <ul class="nav">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/destino']">Destino</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/vuelos']">Vuelos</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/protected']">Protected</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/reservas']">Reservas</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <h1>{{title}}</h1>
  </div>

  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{time | async}}